.footer-container {
  margin: 0;
  display: flex;
  width: 100%;

  .footer-container-left {
    flex-grow: 1;
  }
  .footer-container-right {
    flex-grow: 1;
    display: flex;
    justify-content: right;
  }
  .link {
    color: #ffffff80;
    text-decoration: none;
    font-size: 0.7rem;
    padding-right: 10px;
    padding-left: 10px;
  }

  /* Changing the color */
  .link:hover {
    color: rgb(255, 255, 255);
  }
}
