/* src/components/Response.css */

.user-response {
  padding: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
  color: white;
}

.bot-response {
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
}
