/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content-container {
  overflow-y: auto;
  padding: 20px;
}

.search-results-container {
  overflow-y: auto;
  padding: 20px;
  height: 100vh;
}

/* Adjust the styling as needed */
