.summary-block {
  margin-top: 10px;
  margin-bottom: 20px;
}
.additional-details {
  max-height: 54px;
  overflow: hidden;
  color: white;
}

.additional-details--expanded {
  max-height: none;
}

.read_more_button{
  border-width: 0px;
  font-size: 1em;
  cursor: pointer;
  color: #1affd9;
}

.new-bot-button{
  background-color: white;
  color: black;
  cursor: pointer;
  box-align: center;
  border-radius: 10px;
  border-width: 0px;
  padding: 10px;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInEffect {
  opacity: 0; 
  animation: fadeIn 0.5s ease-out forwards; 
}