.summary-block {
  margin-top: 10px;
  margin-bottom: 20px;
}
.additional-details {
  max-height: 54px;
  overflow: hidden;
  color: white;
}

.additional-details--expanded {
  max-height: none;
}

.read_more_button{
  border-width: 0px;
  font-size: 1em;
  cursor: pointer;
  color: #1affd9;
}

.new-bot-button{
  background-color: white;
  color: black;
  cursor: pointer;
  box-align: center;
  border-radius: 10px;
  border-width: 0px;
  padding: 10px;

}

