.footer-link { 
    color: #ffffff80; 
    text-decoration: none; 
    padding: 10px; 
    font-size: 1.0rem; 
} 
  
/* Changing the color */
.footer-link:hover { 
    color: rgb(255, 255, 255); 
}

.footer-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
