.response-card {
  padding: 16px 2px 16px 2px;
  background-color: transparent;
  display: flex;
  font-size: 1em;
}

.icon-image {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}

.response-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
}

.response-card.bot {
  background-color: transparent; /* Add your bot color here */
}

.response-card.user {
  background-color: transparent; /* Add your user color here */
}

.response-card-body {
  padding-left: 20px;
  width: 100%;
}
